.header{
    background-color: darkgreen;
    color: #ffffff;
    text-align: center;
}

.main{
    background-color: lightgrey;
    padding: 1em;

}

body {
    background-image: url(../assignment/record.png);
    background-repeat: repeat;
    background-size: contain;
    margin: 0px;
}